<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign-up</title>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <link rel="stylesheet" href="/public/styles/sign-up.css">
</head>

<body>
    <div class="main">
        <p id="welcome">Welcome Back!</p>
        <img src="/images/to do.jpg" height="320rem" width="280rem">
        <form method="post">
            <div class="container">
                <input placeholder="Your Email" id="email" name="email" type="email" required>
                <input placeholder="Your Password" id="Password" name="Password" type="password" required>
                <button>Sign In</button>

            </div>
        </form>
    </div>
</body>

</html>